.book {
  width: 140px;

  &__title,
  &__authors {
    font-size: 0.8em;
  }

  &__title {
    margin-top: 10px;
  }

  &__authors {
    color: #999;
  }

  &__top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }

  &__cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__cover-title {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 0.8em;
  }
}
